@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(74, 72, 72, 0.368);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 8px;
}
